/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #007755;
  --f7-theme-color-rgb: 0, 119, 85;
  --f7-theme-color-shade: #004e38;
  --f7-theme-color-tint: #00a072;
}

/* Your app custom styles here */